body {
  width: 260px;
  height: 425px;
  text-align:center;
  background-color: #F5F5F5;
  color: #AAAAAA;
  transition: background-color .75s ease;
  font-size:16px;
  font-family: 'Open Sans', sans-serif;
  padding-top:10px;
}

#menu {
  padding-left: 10px;
  padding-right: 10px;
}

.bottom {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  background-color: white;
}

#miningIcon {
  margin-top: 20px;
  width: 200px;
}

#miningButton{
  margin-bottom: 45px;
  color: black;
}

#contribute {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-bottom: 25px;
  text-decoration: underline;
}

#dash{
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
